<div id="container">
  <div id="header">
    <a href="/"><img src="/www/app/imgs/header-logo-beta.png"/></a>
  </div>
  <div id="page">
    <h1><%= @venue.name %></h1>
    <p class="address"><%= @venue.location.address %>, <%= @venue.location.city %>, <%= @venue.location.state %></p>
    <h1>has these amazing people</h1>
    <% if @employees.count > 0 %>
      <table>
        <tr>
          <!--<th>What we think his or her name is</th>-->
          <th>Person</th>
          <th>Kudos Tally</th>
          <th>Kudos Anecdotes</th>
        </tr>
        <% @employees.each do |employee| %>
          <tr>
            <!--<td><%= employee.name %></td> -->
            <td><%= employee.description %></td>
            <td><%= employee.kudos.count%></td>
            <td>
              <% employee.kudos.limit(3).each do |kudo| %>
                <blockquote><%= kudo.anecdote %></blockquote>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <p>Nobody has left any kudos at <%= @venue.name %>.</p>
        <p>Be the first!</p>
      <% end %>
    </table>
  </div>
  <a id="leave-kudos" href="/www/app#checkins" >
    <img class="js-load-route" src="/www/app/imgs/leave-kudos.png" />
  </a>
</div>
