<div id="container">
  <div id="header">
    <img src="/www/imgs/header-logo-beta.png"/>
  </div>
  <div id="page">
    <h1><%= @venue.name %></h1>
    <p class="address"> At <%= @venue.location.address %>, <%= @venue.location.city %>, <%= @venue.location.state %></p>
    <h1>Has these amazing employees</h1>
    <% if @employees.count > 0 %>
      <table>
        <tr>
          <!--<th>What we think his or her name is</th>-->
          <th>Description of employee</th>
          <th>How many Kudos</th>
        </tr>
        <% @employees.each do |employee| %>
          <tr>
            <!--<td><%= employee.name %></td> -->
            <td><%= employee.description %></td>
            <td><%= employee.kudos.count%></td>
          </tr>
        <% end %>
      <% else %>
        <p>Nobody has left any kudos at <%= @venue.name %>.</p>
        <p>Be the first!</p>
      <% end %>
    </table>
  </div>
